<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geologica&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Find a brewery</title>
  </head>
  <body>
    <header>
      <div>BREWERY FINDER</div>
    </header>

    <main>
      <h1>Generate or search a brewery</h1>
      <div class="randomDiv">
        <h2>Generate</h2>
        <form action="/submit" method="POST">
          <input class="random" type="submit" value="Generate Random" />
        </form>
        <% if(locals.random) { %>
        <p><%= random.name %></p>
        <p><%= random.state_province %></p>
        <p><%= random.website_url %></p>
        <% } %>
      </div>

      <div class="searchDiv">
        <h2>Search</h2>
        <p>
          If you know a place or just want to surf through the options, enter a
          word below.
        </p>
        <p>Popular words might get you a LOT of options...</p>
        <form method="POST">
          <input name="keyword" type="text" placeholder="Enter a key word" />
          <input type="submit" value="Search" formaction="/search" />
        </form>
        <% if(locals.search) { %> <% search.forEach(s => { %>
        <p><%= s.name %></p>
        <p><%= s.state_province %></p>
        <p><%= s.website_url %></p>
        <br />
        <% }) %> <% } %>
      </div>
    </main>

    <footer>
      <p>© 2024 Dannielle B</p>
    </footer>
  </body>
</html>
